.brand{
    font-family: 'samakaran', sans-serif;
    font-size: xx-large;
    color: skyblue;
                                                
  }
  .active{ 
    font-weight: bold; 
    font-style: italic; 
    color: #fff; 
  }