<br>
<div style="display: flex;">
    <mat-card style="flex:1 1 auto;">
        <mat-card-header>

            <mat-card-title>Yet To Start</mat-card-title>
            <mat-card-title>
                <b>450</b>
            </mat-card-title>

        </mat-card-header>
        <mat-card-footer><img src="../../assets/images/Empty truck.png"></mat-card-footer>
        <mat-card-actions>
            <button mat-button class="btn mat-btn btn-info">Actions</button>

        </mat-card-actions>
</mat-card>
<mat-card style="flex:1 1 auto;">
    <mat-card-header>

        <mat-card-title>Started To Factory</mat-card-title>
        <mat-card-title>
            <b>34</b>
        </mat-card-title>

    </mat-card-header>
    <mat-card-footer>
        <img src="../../assets/images/Driving truck.png">
        <img src="../../assets/images/factory.png" style="float: right;">
    </mat-card-footer>
    <mat-card-actions>
        <button mat-button class="btn mat-btn btn-info">Actions</button>

    </mat-card-actions>
</mat-card>
<mat-card style="flex:1 1 auto;">
    <mat-card-header>

        <mat-card-title>Reached To Factory</mat-card-title>
        <mat-card-title>
            <b>75</b>
        </mat-card-title>

    </mat-card-header>
    <mat-card-footer><img src="../../assets/images/factory.png"></mat-card-footer>
    <mat-card-actions>
        <button mat-button class="btn mat-btn btn-info">Actions</button>

    </mat-card-actions>
</mat-card>
<mat-card style="flex:1 1 auto;">
    <mat-card-header>

        <mat-card-title>Started  To Port</mat-card-title>
        <mat-card-title>
            <b>50</b>
        </mat-card-title>

    </mat-card-header>
    <mat-card-footer><img src="../../assets/images/Driving truck.png" >
        <img src="../../assets/images/Terminal.png" style="float: right;" ></mat-card-footer>
    <mat-card-actions>
        <button mat-button class="btn mat-btn btn-info">Actions</button>

    </mat-card-actions>
</mat-card>
</div>